.field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 440px;
}

.field-cell {
    width: 100px;
    height: 100px;
    background: royalblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: #fff;
    cursor: pointer;
}

.square {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.ball {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    background-color: blueviolet;
    border-radius: 50%;
}